.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20rem;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Paleta de colores #8549C1, #303030, #DBDBDB */
.appBar {
  background-color: #8E9FE6 !important;
}

.calendar {
  height: 50vh;
}

.rbc-calendar {
  padding: 1rem 0;
}

.rbc-toolbar {
 background-color: #DBF094;
}

.rbc-active {
  background-color: #F5FFCB !important;
}

.rbc-month-view {
  background-color: #FFF;
}

.rbc-today {
  background-color: #F5FFCB;
}

.rbc-event {
  background-color: #F5C8BD;
}

.rbc-selected {
  background-color: #f79278 !important;
}

.rbc-off {
  background-color: #eeeeee;
}