.appBar {
  background-color: #8E9FE6 !important;
}

.logo {
  text-align: center;
  height: 50vh;
  padding: 10vh 0;
}

.login {
  text-align: center;
  height: 50vh;
}

.button {
  margin: 1rem;
  font-size: 1.5rem!important;
  width: 8rem;
  height: 2rem;
}

.calendar {
  height: 50vh;
}

@media only screen and (max-width:1025em) { 
	.calendar {
    height: 65vh;
  }
  .rbc-calendar {
    height: 65vh !important;
  }
}

.App-intro {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.rbc-calendar {
  padding: 1rem 0;
}

.rbc-toolbar {
 background-color: #DBF094;
}

.rbc-active {
  background-color: #F5FFCB !important;
}

.rbc-month-view {
  background-color: #FFF;
}

.rbc-today {
  background-color: #F5FFCB;
}

.rbc-event {
  background-color: #F5C8BD;
}

.rbc-selected {
  background-color: #f79278 !important;
}

.rbc-off {
  background-color: #eeeeee;
}

header {
  background-image: url(./images/lunas.jpg);
  background-repeat: repeat-x;
  background-size: fill;
}

.footer {
  background-color: #E5E5E5;
  top: 90vh;
  height: 5vh;
  color: #8E9FE6;
  padding: 1.2rem 1rem 0;
  font-size: 0.9rem;
}